@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');





:root {
    --gray: rgb(112, 112, 112);
    --aqua:rgb(0, 255, 255);
    --white: rgb(255, 255, 255);
    --black: #000000;   
    --maxwidth: 1200px;

}
* {
    box-sizing: border-box;
}


body{
height: 100%;

margin: 4.0%;
background-color:white ;
font-family: 'quicsand', sans-serif;

}
h1{
    border-style: groove;
    border-width: 3px;
    padding: 2rem;
}
.category_title {
    text-transform: uppercase;                                                                                                                                                                                                                                                                                      
    color: var(gray);
    font-size: 30px;
}
div.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: var(--maxwidth);
    margin: 0 auto;
    position: relative;
    padding: 2.5rem 0;
}
#header { 
    width: 100%;
    display: flex;
    border: 1px solid var(--black);
    padding: 1rem;
    padding-left: 2rem;
    justify-content: space-between;
    border-style: groove
}
li {
    margin-left: 1rem;
}

.links {
    color:rgb(35, 223, 230)
}

main {
    width:100%;
    display: flex;
    max-width: var(--maxwidth);
    border: 1px solid var(--gray);
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
}

nav {
    width: 100%;
    max-width: var(--maxwidth);
    display: flex;
    margin-top: 3rem;
    border-bottom: 5px solid var(--aqua);
    column-gap: 1rem;
}

nav a{
    display: flex;
    text-decoration: none;
    color: var(--gray);
    background-color: var(--white);
    display: inline-block;
    border-top: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    padding: 1.2rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    transition: ease-in-out .4s;

    
}

nav a:hover {
    background-color: var(--aqua);
    color: var(--white);
    border-color: var(--aqua);
}

nav .active {
    background-color: var(--aqua);
    color: var(--white);
    border-color: var(--aqua);
}



@media only screen and (max-width:900px) {

    .category_title {
        text-transform: uppercase;                                                                                                                                                                                                                                                                                      
        color: var(--gray);
        font-size: 20px;
    }

    main {
        width:100%;
        max-width: 480px;
        display: flex;
    }
    
    nav {
        width: 100%;
        max-width: 480px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;    
    }

    nav a{
        font-size: 16px;
    }

    .text {
        font-size: 16px;
    }

    #title {
        font-size: 13px;
    }
}

